.login_container {
    display: flex;
    flex-direction: column;
    background-color: #001d38;

    width: 90%;
    max-width: 400px;

    padding: 40px 20px;

    border-radius: 15px;
    align-items: center;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login-group{
    width: 100%;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.input-row{
    flex-direction: row;
    align-items: flex-start;
}

.label-login{
    font-weight: bold;
    margin: auto;
    width: 30%;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #004a8f;
    background-color: #002f5c;
    color: white;
}

.login-title{
    font-size: 20px;
}

.buttons-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    margin-top: 20px;
}

.login-button, .signin-button {
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.login-button {
    background-color: #0056b3;
    color: white;
    width: 100%;
}

.signin-button {
    width: 100%;
    background-color: transparent;
    border: 1px solid #0056b3;
    color: #0056b3;
}

.forgot-group{
    display: flex;
    flex-direction: row;
}

.forgot-password {
    margin-right: 5px;
}