.dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 255);
}

.main-container{
    background-color: rgb(0, 30, 160);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-header{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(43, 0, 122);
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    border: 3px dashed white;
    border-radius: 15px;
    height: 400px;
    width: 300px;

    p{
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        text-align: center;
        margin: 20px;
    }
}

.add-button{
    background-color: #0056b3;
    color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}