.lista-characters {
    display: flex;
    flex-direction: row; /* Lado a lado */
    flex-wrap: wrap;     /* Quebra linha se faltar espaço */
    justify-content: flex-start; /* Alinha no começo da linha */
    gap: 25px;           /* Espaço entre os cards */
    padding: 30px;
    align-items: stretch; /* Garante que todos tenham a mesma altura */
}

/* No seu CharacterCard.css ou Dashboard.css */
.card-personagem {
    width: 280px;        /* Tamanho fixo para todos ficarem iguais */
    min-height: 350px;
    background: linear-gradient(145deg, #1e1e2f, #2a2a40);
    border: 2px solid #d4af37; /* Borda dourada de RPG */
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.button-group{
    display: flex;
    justify-content: flex-end;
}

.button-card{
    background-color: transparent;
    border: 0;
    padding: 5px;
    color: transparent;
    text-shadow: 0 0 0 white;
}

.input-group input, .save-button {
    height: auto;
    padding: 8px;
    flex: 1; /* Faz o input ocupar o resto do espaço ao lado do texto 'Nome:' */
    background: #1a1a2e;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
}

.save-button{
    width: 100%;
    margin-top: 20px;
}

.input-value{
    padding: 8.5px;
}