.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 8px;

    width: 100%;
    background-color: rgb(0, 135, 250);
}

.img-sample{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto 10px auto auto;
}

.header-logo{
    margin-left: 10px;
}

.header-user{
    display: flex;
    margin-right: 10px;
}

.logout-button{
    margin: auto auto auto 10px;
    background-color: rgb(255, 0, 0);
    color: transparent;
    text-shadow: 0 0 0 white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
}