/* Estilo para a TELA DE LOGIN (Centralizado) */
.app-auth-flow {
    background-color: hsl(209, 100%, 18%);
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

/* Estilo para o SISTEMA LOGADO (Esticado) */
.app-main-flow {
    background-color: #000; /* Ou a cor base do seu sistema */
    height: 100vh;
    display: flex;
    flex-direction: column;
}