.app-grid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header, footer {
  flex-shrink: 0; 
}

main {
  flex: 1;
  display: flex;
  overflow-y: auto;
  background-color: rgb(75, 75, 255);
}